@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
  /* box-sizing: border-box; */
  background-color: #F5E7DE;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color: inherit;
}

p {
  text-align: center;
}

/* Primary Content CSS */
#primary-content {
    padding: 60px 0;
    text-align: center;
}
#primary-content article {
    width: 460px;
    height: 270px;
    float: left;
    background-color: #f5f5f5;
}
#primary-content article:first-child {
    margin-right: 20px;
}

#primary-content article:last-child {
    margin-right: 20px;
}

#primary-content article .overlay {
    background: rgba(255, 255, 255, .95);
    height: 230px;
    width: 190px;
    padding: 20px;
}
article h4 {
    border-bottom: 1px solid #02b8dd;
    padding-bottom: 20px;
}
.more-link {
    border: 1px solid #02b8dd;
    color: #02b8dd;
    padding: 6px 20px;
    border-radius: 3px;
}
.more-link:hover {
    background-color: #02b8dd;
    color: #fff;
}


.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(`100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: inherit;
  padding: 20px 10px;
  display: flex;
}

.nav-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the header links */
.nav-bar a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.nav-bar a.active {
  background-color: #844F39;
  color: white;
}

/* Heading CSS (logo and header) */
.header-heading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-heading span{
    font-size: 56px;
}

.header-heading img{
width: 70px;
height: 70px;
padding-right: 20px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
