/* Font that I use throughout the website */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* General Styling */
* {
  background-color: #F5E7DE;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color: inherit;
}

p {
  text-align: center;
}

a li {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 4%;
}

h1 {
  font-size: 40px;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  /*Takes away the bulletpoints in the list*/
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  /*Spacing between the options*/
  margin: 1rem 0;
}

/* Intro containers styling */
.intro-container {
  text-align: center;
  margin: : 5%;
}

/* Quiz Styling */
.container {
  position: relative;
  width: 500px;
}

.container div {
  height: 300px;
}

.quiz-container {
  background-color: #F5E7DE;
  border-radius: 10px;
  width: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quiz-header {
  padding: 4rem;
}

/* Navigation bar styling */
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the header links */
.nav-bar a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.nav-bar a.active {
  background-color: #844F39;
  color: white;
}

/* Heading CSS (logo and header) */
.header-heading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.header-heading span {
  font-size: 56px;
}

.header-heading img {
  width: 70px;
  height: 70px;
  padding-right: 20px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.quiz-container {
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(`100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Triple Container for the Modules */
.triple-containers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px;
}

.triple-container-header {
  font-size: 20px;
  text-align: center;
  border: 3px solid #543118;
  border-radius: 5px;
  padding: 8px;
}

.triple-container-body {
  text-align: justify;
  text-justify: inter-word;
  padding-top: 12px;
}

.triple-container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  font-size: 18px;
}

.triple-container-footer button {}

.triple-container {
  background-color: #F5E7DE;
  padding: 32px;
}

.triple-container+.triple-container {
  margin-left: 32px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 7%;
  width: 100%;
  background-color: #844F39;
  text-align: center;
}

.footer p {
  background-color: #844F39;
  color: #F5E7DE;
}
